In [19]:
import pandas as pd

In [20]:
data = pd.read_csv('/Users/sahilnakrani/Documents/weather forecast/src/Machine-Learning/Final-Data/Cleaned_Data.csv')

data.head()

                    datetime     T        P   RH     U
0  2014-01-01 01:00:00+00:00  60.0  10083.0  0.5  92.0
1  2014-01-01 02:00:00+00:00  62.0  10088.0  0.0  93.0
2  2014-01-01 03:00:00+00:00  58.0  10089.0  0.0  91.0
3  2014-01-01 04:00:00+00:00  51.0  10091.0  0.0  93.0
4  2014-01-01 05:00:00+00:00  47.0  10090.0  0.0  91.0

### in this Dataset, Features were multiplied by 10. so, we have to make again perfect.

In [21]:
data['T'] = data['T']/10
data['RH'] = data['RH']/10
data['P'] = data['P']/10
data['U'] = data['U']/10

In [22]:
data.datetime = pd.to_datetime(data.datetime)

# Create the dateindex feature
data['datetime'] = data.datetime.dt.year.astype(str) + data.datetime.dt.month.astype(str).str.zfill(2) + data.datetime.dt.day.astype(str).str.zfill(2) + data.datetime.dt.hour.astype(str).str.zfill(2)
data['datetime'] = pd.to_numeric(data['datetime'], errors='coerce')

# Display the DataFrame with the new dateindex feature
print(data)

         datetime    T       P    RH    U
0      2014010101  6.0  1008.3  0.05  9.2
1      2014010102  6.2  1008.8  0.00  9.3
2      2014010103  5.8  1008.9  0.00  9.1
3      2014010104  5.1  1009.1  0.00  9.3
4      2014010105  4.7  1009.0  0.00  9.1
...           ...  ...     ...   ...  ...
87643  2023123120  8.6   997.4  0.20  7.6
87644  2023123121  8.4   997.8  0.05  7.7
87645  2023123122  8.0   997.9  0.05  7.9
87646  2023123123  8.6   998.5  0.00  7.1
87647  2024010100  8.7   998.6  0.05  7.1

[87648 rows x 5 columns]

### Updating the Data as CSV for further Studies.

In [23]:
# Save DataFrame to CSV
data.to_csv('/Users/sahilnakrani/Documents/weather forecast/src/Machine-Learning/Final-Data/FE_data.csv', index=False)